### Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:
* оценка 2 и ниже — низкий рейтинг;
* оценка 4 и ниже — средний рейтинг;
* оценка 4.5 и 5 — высокий рейтн
г.

Результат классификации запишите в столбец class.

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [6]:
movie_ratings = pd.merge(movies, ratings, on='movieId')

In [7]:
movie_ratings.loc[movie_ratings['rating'] <= 2, 'class'] = 'low'
movie_ratings.loc[(movie_ratings['rating'] > 2) & (movie_ratings['rating'] <= 4), 'class'] = 'medium'
movie_ratings.loc[(movie_ratings['rating'] > 4) & (movie_ratings['rating'] <= 5), 'class'] = 'high'

In [9]:
movie_ratings.head(45)

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703,medium
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179,medium
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058,high
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310,low
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091,medium
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,20,3.5,1238729767,medium
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,23,3.0,1148729853,medium
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,26,5.0,1360087980,high
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,30,4.0,944943070,medium
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,37,4.0,981308121,medium
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,4.0,974768260,medium
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,44,4.0,858707138,medium
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,47,5.0,832228931,high
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,48,4.0,1318796720,medium
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,55,3.0,855926941,medium
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,56,4.0,1467004817,medium
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,63,5.0,1079098216,high
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,67,3.0,854711770,medium
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68,4.0,1194741818,medium
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,69,5.0,1366831110,high
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,70,5.0,853954235,high
21,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,72,3.5,1461778737,medium
22,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,73,5.0,1303464840,high
23,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,75,3.0,1165607201,medium
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,77,4.0,1163005363,medium
25,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,79,2.0,1182994648,low
26,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,84,3.5,1429910800,medium
27,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,86,3.0,848161799,medium
28,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,87,3.0,858623186,medium
29,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,89,5.0,1257620018,high
30,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,90,4.0,875517174,medium
31,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,91,5.0,1448798200,high
32,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,92,5.0,848526251,high
33,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,93,4.0,1304992014,medium
34,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,94,4.0,1291779829,medium
35,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,97,1.0,1460342505,low
36,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,99,4.0,938586006,medium
37,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,100,4.0,854193977,medium
38,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,106,4.0,1215818369,medium
39,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,112,5.0,852720865,high
40,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,119,2.0,913048158,low
41,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,120,2.5,1167422234,medium
42,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,121,4.0,833058442,medium
43,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,122,3.0,832773057,medium
44,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,124,4.5,1147862310,high

### Задание 2

Используйте файл keywords.csv.
Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'бец region.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [10]:
geo_data = {
        'Центр': ['москва', 'тула', 'ярославль'],
        'Северо-Запад': ['петербург', 'псков', 'мурманск'],
        'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }

In [11]:
keywords = pd.read_csv('keywords.csv')

In [12]:
keywords['region'] = 'undefined'

In [13]:
for region, cities in geo_data.items():
        for city in cities:
            keywords.loc[keywords['keyword'].str.contains(city), 'region'] = region

In [15]:
keywords.head(400)

                  keyword     shows     region
0                      вк  64292779  undefined
1           одноклассники  63810309  undefined
2                   порно  41747114  undefined
3                    ютуб  39995567  undefined
4               вконтакте  21014195  undefined
..                    ...       ...        ...
395            гугл карты    565052  undefined
396           авито пермь    406796  undefined
397      великолепный век    402455  undefined
398  леди баг и супер кот    409326  undefined
399              лабиринт    401173  undefined

[400 rows x 3 columns]

In [16]:
keywords.tail()

                       keyword  shows     region
99995   эльдорадо старый оскол   3705  undefined
99996      frigate для firefox   3630  undefined
99997                   укрсиб   3630  undefined
99998  погода в ялте на неделю   3688  undefined
99999                     ггму   3630  undefined